<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zqzr.licaitong">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="WRITE_SECURE_SETTINGS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <!-- 相机和语音权限-->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <!-- 友盟-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 查看 Wi-Fi 状态 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.SET_DEBUG_APP" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.zqzr.licaitong.ui.home.HomeActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            />
        <activity
            android:name="com.zqzr.licaitong.ui.home.TenderDetailAct"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.zqzr.licaitong.ui.home.TenderListAct"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.zqzr.licaitong.ui.own.select_shengshiqu.ShengShiQuActivity"
            android:label="请选择所在城市"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.Dialog"
            />
        <!--android:theme="@android:style/Theme.Holo.Light.Dialog"-->
        <activity
            android:name="com.zqzr.licaitong.ui.find.FindActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            />
        <activity
            android:name="com.zqzr.licaitong.ui.activity.AActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            />
        <activity
            android:name="com.zqzr.licaitong.ui.own.OwnActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            />
        <activity
            android:name="com.zqzr.licaitong.ui.own.FindPwdFirstAct"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.zqzr.licaitong.ui.own.FindPwdSecondAct"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.zqzr.licaitong.ui.own.RegistFirstAct"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.zqzr.licaitong.ui.own.RegistSecondAct"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.zqzr.licaitong.ui.own.LoginAct"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            />
        <activity
            android:name="com.zqzr.licaitong.ui.own.ApplyPlannerAct"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.zqzr.licaitong.ui.own.MoneyRecordAct"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.zqzr.licaitong.ui.own.OrderAct"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.zqzr.licaitong.ui.own.OrderDetailAct"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.zqzr.licaitong.ui.own.SettingAct"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.zqzr.licaitong.ui.own.SettingSecurityAct"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.zqzr.licaitong.ui.own.SettingOpinionAct"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.zqzr.licaitong.ui.own.SettingVersionAct"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.zqzr.licaitong.ui.own.IdentifyAct"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.zqzr.licaitong.ui.own.SecurityChangePhoneActF"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.zqzr.licaitong.ui.own.SecurityChangePhoneActS"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.zqzr.licaitong.ui.own.PlannerAct"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.zqzr.licaitong.ui.own.BankCardAct"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.zqzr.licaitong.ui.own.AddCardAct"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.zqzr.licaitong.ui.own.ReturnPlanAct"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.zqzr.licaitong.ui.own.InfoAct"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.zqzr.licaitong.ui.CommonWebviewAct"
            android:screenOrientation="portrait" />

        <!-- 登录手势密码 -->
        <activity
            android:name="com.zqzr.licaitong.ui.own.gesturelock.activity.LockAct"
            android:screenOrientation="portrait" />

        <!-- 设置手势密码 -->
        <activity
            android:name="com.zqzr.licaitong.ui.own.gesturelock.activity.LockStepAct"
            android:screenOrientation="portrait" />

        <!-- 修改手势密码 -->
        <activity
            android:name="com.zqzr.licaitong.ui.own.gesturelock.activity.LockModifyPwdAct"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.lzy.imagepicker.ui.ImagePreviewDelActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.lzy.imagepicker.ui.ImageGridActivity"
            android:screenOrientation="portrait" />

        <!-- 适配全面屏 -->
        <meta-data android:name="android.max_aspect" android:value="2.3" />

    </application>

</manifest>